<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <link rel="stylesheet" href="<%= absolutePath %>/css/styles.css" />
  </head>
  <body>
    <section class="container">
      <div class="col-bg">
        <div class="logo-container">
          <div class="header-invoice">
            <h1>Invoice</h1>
            <p>Invoice No: <%= invoice.invoiceReference %></p>
          </div>

          <div class="logo">
            <h1>
              <img src="./logo.png" alt="Company Logo" />
              A.T. Lukman & co.
            </h1>
            <p class="address">Address: <%= invoice.client.address %></p>
            <p>Phone: <%= invoice.client.phone %></p>
            <p>Email: <%= invoice.client.email %></p>
          </div>
        </div>

        <div class="invoice-info-container">
          <div class="invoice-info">
            <h1>Payment Info</h1>
            <p>Account No: <%= invoice.accountDetails.accountNumber %></p>
            <p>Account Name: <%= invoice.accountDetails.accountName %></p>
            <p>Bank: <%= invoice.accountDetails.bank %></p>
            <p>Reference: <%= invoice.accountDetails.reference %></p>
          </div>

          <div class="from">
            <h1>Date</h1>
            <p>
              Invoice Date: <%= invoice.createdAt.toISOString().split('T')[0] %>
            </p>
            <p>Due Date: <%= invoice.dueDate.toISOString().split('T')[0] %></p>
          </div>
        </div>
      </div>

      <div class="additional-info">
        <div class="status">
          <h2>Status:</h2>
          <p><%= invoice.status %></p>
        </div>
        <div class="payment-instructions">
          <h2>Payment Instructions:</h2>
          <p><%= invoice.paymentInstructionTAndC %></p>
        </div>
        <div class="work-title">
          <h2>Work Title:</h2>
          <p><%= invoice.workTitle %></p>
        </div>
        <div class="case-reference">
          <h2>Case Reference:</h2>
          <p>Case ID: <%= invoice.case._id %></p>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Service Description</th>
            <th>Hours</th>
            <th>Date</th>
            <th>Fee Rate per Hour</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% invoice.services.forEach(service => { %>
          <tr>
            <td><%= service.serviceDescriptions %></td>
            <td><%= service.hours %></td>
            <td><%= service.date.toISOString().split('T')[0] %></td>
            <td>$<%= service.feeRatePerHour.toFixed(2) %></td>
            <td>$<%= service.amount.toFixed(2) %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <div class="card">
        <h2>Financial Summary</h2>
        <div class="field">
          <span class="label">Total Hours:</span>
          <span class="value"><%= invoice.totalHours %></span>
        </div>
        <div class="field">
          <span class="label">Total Professional Fees:</span>
          <span class="value"
            >$<%= invoice.totalProfessionalFees.toFixed(2) %></span
          >
        </div>
        <div class="field">
          <span class="label">Previous Balance:</span>
          <span class="value">$<%= invoice.previousBalance.toFixed(2) %></span>
        </div>
        <div class="field">
          <span class="label">Total Amount Due:</span>
          <span class="value important"
            >$<%= invoice.totalAmountDue.toFixed(2) %></span
          >
        </div>
        <div class="field">
          <span class="label">Total Invoice Amount:</span>
          <span class="value"
            >$<%= invoice.totalInvoiceAmount.toFixed(2) %></span
          >
        </div>
        <div class="field">
          <span class="label">Amount Paid:</span>
          <span class="value">$<%= invoice.amountPaid.toFixed(2) %></span>
        </div>
      </div>
    </section>
  </body>
</html>
